.Rproj.user
.Rhistory
.RData
.Ruserdata
7-archive
6-other_material
1-videos
2-data/1-tracks
2-data/2-smoothed_tracks
submissions/
media_release/
25-spatial_cog_ami.docx 
25-spatial-cog-ami_supps_EthoCred.xlsx 
26-spatial_cog_ami.docx
25-spatial_cog_ami_supps.docx